@page
@using Acme.ClassManage.Permissions
@using Acme.ClassManage.Web.Pages.Commons.LopHoc
@using Acme.ClassManage.Localization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Authorization;

@model Acme.ClassManage.Web.Pages.Commons.LopHoc.IndexModel
@inject IStringLocalizer<ClassManageResource> L
@inject IAuthorizationService Authorization
@section scripts
{
    <abp-script src="/Pages/Commons/LopHoc/Index.js" />
}


<abp-card>
    <abp-card-header>
    <abp-row>
        <abp-column size-md="_2">
            <abp-card-title>class</abp-card-title>
        </abp-column>

         <abp-column size-md="_6">
  <form class="form-inline md-form mr-auto mb-4" >
    <input  class="form-control mr-sm-2" id="searchinput" style="width:50%;display:inline-block;margin-right:10px" type="text" placeholder="Search" aria-label="Search">

    <button  id="searchsubmit" asp-page-handler="Search" >Search</button>
   </form>
        </abp-column>


        <abp-column size-md="_4" class="text-end">
              
                 @if (await Authorization.IsGrantedAsync(ClassManagePermissions.LopHoc.Create))
                {
                     <abp-button id="insertlophoc"
                        text="class"
                        icon="plus"
                        button-type="Primary"/>
                
                }
        </abp-column>


    </abp-row>
</abp-card-header>

    <abp-card-body>
        <abp-table striped-rows="true" id="ClassTableLopHoc"></abp-table>
    </abp-card-body>
</abp-card>
